name: 'Release Drafter'

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  update_release_draft:
    name: Release
    uses: chukysoria/workflows/.github/workflows/new-release.yml@cb370cab218657e22c95035670f097c57d3d58cc # v1.1.22
    with:
      simple-build: true
